extends layout

block content
	.wrapper.house
		.page-header
			.title Our House
			img(src='/images/house_white.png', width='40')
		.white-box.page-subtitle Tours are available at any time, regardless of whether a rush event is occurring. We will gladly answer any questions or concerns you have about our living space, accomodations, handicap access, etc.
		hr
		.post-container
			each room, i in rooms
				.post.white-box
					.title #{room.name}
					.img-container
						img(src='/images/house/'+room.img)
					.data-container
						span.description #{room.desc}
						span.header
							ul.room-features
								each feat in room.features
									li.room-feature #{feat}