extends layout

block content
	.wrapper.info
		.page-header 
			.title More Info
			img(src='/images/info_white.png', width='40')
		.white-box.page-subtitle Stop by the house every Tuesday, Thursday and Friday for our official rush events! Meet brothers, take a tour of the house, and determine if Triangle is a good fit for you. You are more than welcome to stop by outside of rush events if you want to work on homework or just hang out.
		hr