extends layout

block content
	.wrapper.us
		.page-header 
			.title Who We Are
			img(src='/images/icons/people_white.png', width='40')
		.white-box.page-subtitle All Triangle Fraternity brothers strive to be leaders in the campus, local community, and their chosen fields of studies. We are a social house of well-rounded students.
		hr
		.post-container
			each post, i in us
				.post.white-box
					.title #{post.name}
					.img-container
						img(src='/images/us/'+post.img)
					.data-container
						span.header(class='fa-'+post.icon)
						span.description #{post.desc}